.form-radio,
.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;

  @apply text-primary-25 border-secondary-400;
  border-width: 1px;
}
.form-checkbox {
  background-color: #fff;
}

.form-radio {
  border-radius: 100%;
}
.form-checkbox {
  border-radius: 0.25rem;
}
.form-checkbox:checked,
.form-radio:checked {
  border-color: #01b3f8;
  background-position: center;
  background-repeat: no-repeat;
}
.form-radio:disabled {
  background-position: center;
  background-repeat: no-repeat;
}
.form-checkbox:disabled {
  background-position: center;
  background-repeat: no-repeat;
}
.form-checkbox:checked {
  @apply border-primary-25;
}
.form-checkbox:focus,
.form-radio:focus {
  outline: none;
  box-shadow: 0px 0px 0px 4px rgba(1, 179, 248, 0.2);
}

.form-checkbox:disabled,
.form-radio:disabled {
  @apply border-secondary-100 bg-secondary-25;
}
.form-checkbox:checked {
  @apply border-primary-500 bg-primary-25;
}
.form-checkbox:checked:hover {
  @apply border-primary-600 bg-primary-25;
}
.form-checkbox:disabled:hover,
.form-radio:disabled:hover {
  @apply border-secondary-100 bg-secondary-25;
}
.form-checkbox:checked:focus {
  @apply border-primary-500 bg-primary-25;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @apply bg-secondary-300;
  -webkit-box-shadow: 0 0 0 30px #f5f6f8 inset !important;
}

/* Form "has-error-className" */

.has-error-className {
  @apply border-danger-500 focus:border-danger-200 focus:ring-danger-200 focus:shadow-danger-xs;
}

.has-success-className {
  @apply border-success-500 focus:border-success-200 focus:ring-success-200 focus:shadow-success-xs;
}

.has-focus-className {
  @apply focus:border-primary-200 focus:ring-primary-200 focus:shadow-primary-sm;
}

.has-placeHolder-className {
  @apply border-secondary-300 bg-neutral-white placeholder:text-secondary-700 text-secondary-700;
}
