.rs-picker-default .rs-picker-toggle.rs-btn-lg {
  padding-top: 16px;
  padding-bottom: 16px;
}
.rs-picker-date .rs-picker-toggle.rs-btn-lg .rs-picker-toggle-caret,
.rs-picker-date .rs-picker-toggle.rs-btn-lg .rs-picker-toggle-clean,
.rs-picker-daterange .rs-picker-toggle.rs-btn-lg .rs-picker-toggle-caret,
.rs-picker-daterange .rs-picker-toggle.rs-btn-lg .rs-picker-toggle-clean {
  top: 16px;
}

.rs-picker-default:not(.rs-picker-disabled) .rs-btn-active,
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:focus,
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle-active,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:focus,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover {
  @apply border-2 border-primary-500;
}
.rs-picker-default .rs-picker-toggle {
  @apply border-2 border-secondary-300;
}
.rs-picker-toggle-textbox {
  @apply bg-neutral-light;
}
.rs-picker-default .rs-btn,
.rs-picker-default .rs-picker-toggle,
.rs-picker-input .rs-btn,
.rs-picker-input .rs-picker-toggle {
  @apply !bg-neutral-light;
}
.rs-picker-toggle-active,
.rs-picker.rs-picker-focused {
  box-shadow: none;
}
.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  @apply text-secondary-700;
}

/* rsuite tooltip */
p + p {
  margin-top: 0px;
}

.rs-tooltip {
  max-width: 320px;
  padding: 0px;
  border-radius: 8px;
  overflow-wrap: break-word;
  background-color: transparent;
  z-index: 10;
}
.rs-tooltip[class*="placement-right"]::after {
  border-right-color: #344055;
}
.rs-tooltip[class*="placement-left"]::after {
  border-left-color: #344055;
}
.rs-tooltip[class*="placement-top"]::after {
  border-top-color: #344055;
}
.rs-tooltip[class*="placement-bottom"]::after {
  border-bottom-color: #344055;
}

.rs-popover {
  padding: 2px 10px;
}
